**[Advanced SQL Home Page](https://www.kaggle.com/learn/advanced-sql)**

---

# Introduction

Here, you'll use different types of SQL **JOINs** to answer questions about the [Stack Overflow](https://www.kaggle.com/stackoverflow/stackoverflow) dataset.

Before you get started, run the following cell to set everything up.

In [1]:
# Set up feedback system
from learntools.core import binder
binder.bind(globals())
from learntools.sql_advanced.ex1 import *
print("Setup Complete")

Using Kaggle's public dataset BigQuery integration.
Setup Complete

The code cell below fetches the `posts_questions` table from the `stackoverflow` dataset.  We also preview the first five rows of the table.

In [2]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "stackoverflow" dataset
dataset_ref = client.dataset("stackoverflow", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# Construct a reference to the "posts_questions" table
table_ref = dataset_ref.table("posts_questions")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the table
client.list_rows(table, max_results=5).to_dataframe()

Using Kaggle's public dataset BigQuery integration.

,id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count
0,62111964,Sending custom params from client on silent re...,<p>Is there any way we could pass extra parame...,None,0,0,None,2020-05-31 05:30:55.990000+00:00,None,2020-05-31 05:30:55.990000+00:00,None,None,None,None,10062258,None,1,0,oauth-2.0|identityserver4|openiddict|angular-o...,1
1,61815842,What Cloud Storage or Service to use for excha...,<p>Storage has to be accessed by C++ and NodeJ...,None,0,0,None,2020-05-15 09:17:23.447000+00:00,None,2020-05-15 09:17:23.447000+00:00,None,None,None,None,2182080,None,1,0,cloud-storage|real-time-data,2
2,61833254,How to capture redirected link and send to std...,<p>Please I need help. Assuming I have this li...,None,0,0,None,2020-05-16 07:19:58.070000+00:00,None,2020-05-16 07:19:58.070000+00:00,None,None,None,None,11375445,None,1,0,shell|url|curl|redirect,2
3,61935894,"where i should add ""clickAnalytics: true"" on f...",<p>I want to track/add data for conversion rat...,None,0,0,None,2020-05-21 13:42:25.997000+00:00,None,2020-05-21 13:42:25.997000+00:00,None,None,None,None,13120736,None,1,0,analytics|magento-1.9,2
4,61936080,How to avoid uploaded file name encrypt in nodejs,<p>In my code uploaded file name saved in loca...,None,0,0,None,2020-05-21 13:51:52.813000+00:00,None,2020-05-21 13:51:52.813000+00:00,None,None,None,None,13576535,None,1,0,node.js|angular8,2

We also take a look at the `posts_answers` table.

In [3]:
# Construct a reference to the "posts_answers" table
table_ref = dataset_ref.table("posts_answers")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the table
client.list_rows(table, max_results=5).to_dataframe()

,id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count
0,32876620,None,<p>It might be worthwhile to look at the AB te...,None,None,0,None,2015-09-30 22:32:27.567000+00:00,None,2015-09-30 22:32:27.567000+00:00,NaT,None,NaN,None,1279449,32867916,2,0,None,None
1,32876633,None,<p>Adding onto the answer by @ccg:</p>\n\n<p>I...,None,None,0,None,2015-09-30 22:33:43.110000+00:00,None,2015-09-30 22:33:43.110000+00:00,NaT,None,NaN,None,3931187,32436543,2,0,None,None
2,32876638,None,"<p>Short Answer No! \nLong answer, you can try...",None,None,0,None,2015-09-30 22:34:14.520000+00:00,None,2015-09-30 22:34:14.520000+00:00,NaT,None,NaN,None,2045312,32876576,2,0,None,None
3,32876640,None,<p>Assuming that clinic_id is a numeric field ...,None,None,0,None,2015-09-30 22:34:25.277000+00:00,None,2015-09-30 23:38:01.337000+00:00,2015-09-30 23:38:01.337000+00:00,None,3230456.0,None,3230456,32860783,2,0,None,None
4,32876665,None,<p>I found the best tool to view and manage th...,None,None,0,None,2015-09-30 22:37:22.060000+00:00,None,2015-09-30 22:37:22.060000+00:00,NaT,None,NaN,None,1978029,32793211,2,0,None,None

You will work with both of these tables to answer the questions below.

# Exercises

### 1) How long does it take for questions to receive answers?

You're interested in exploring the data to have a better understanding of how long it generally takes for questions to receive answers.  Armed with this knowledge, you plan to use this information to better design the order in which questions are presented to Stack Overflow users.

With this goal in mind, you write the query below, which focuses on questions asked in January 2018.  It returns a table with two columns:
- `q_id` - the ID of the question
- `time_to_answer` - how long it took (in seconds) for the question to receive an answer

Run the query below (without changes), and take a look at the output.

In [4]:
first_query = """
              SELECT q.id AS q_id,
                  MIN(TIMESTAMP_DIFF(a.creation_date, q.creation_date, SECOND)) as time_to_answer
              FROM `bigquery-public-data.stackoverflow.posts_questions` AS q
                  INNER JOIN `bigquery-public-data.stackoverflow.posts_answers` AS a
              ON q.id = a.parent_id
              WHERE q.creation_date >= '2018-01-01' and q.creation_date < '2018-02-01'
              GROUP BY q_id
              ORDER BY time_to_answer
              """

first_result = client.query(first_query).result().to_dataframe()
print("Percentage of answered questions: %s%%" % \
      (sum(first_result["time_to_answer"].notnull()) / len(first_result) * 100))
print("Number of questions:", len(first_result))
first_result.head()

Percentage of answered questions: 100.0%
Number of questions: 134438

       q_id  time_to_answer
0  48440027               0
1  48054907               0
2  48108635               0
3  48164517               0
4  48170338               0

You're surprised at the results and strongly suspect that something is wrong with your query.  In particular,
- According to the query, 100% of the questions from January 2018 received an answer.  But, you know that ~80% of the questions on the site usually receive an answer.
- The total number of questions is surprisingly low.  You expected to see at least 150,000 questions represented in the table.

Given these observations, you think that the type of **JOIN** you have chosen has inadvertently excluded unanswered questions.  Using the code cell below, can you figure out what type of **JOIN** to use to fix the problem so that the table includes unanswered questions?

**Note**: You need only amend the type of **JOIN** (i.e., **INNER**, **LEFT**, **RIGHT**, or **FULL**) to answer the question successfully.

In [5]:
# Your code here
correct_query = """
              SELECT q.id AS q_id,
                  MIN(TIMESTAMP_DIFF(a.creation_date, q.creation_date, SECOND)) as time_to_answer
              FROM `bigquery-public-data.stackoverflow.posts_questions` AS q
                  LEFT JOIN `bigquery-public-data.stackoverflow.posts_answers` AS a
              ON q.id = a.parent_id
              WHERE q.creation_date >= '2018-01-01' and q.creation_date < '2018-02-01'
              GROUP BY q_id
              ORDER BY time_to_answer
                """

# Check your answer
q_1.check()

# Run the query, and return a pandas DataFrame
correct_result = client.query(correct_query).result().to_dataframe()
print("Percentage of answered questions: %s%%" % \
      (sum(correct_result["time_to_answer"].notnull()) / len(correct_result) * 100))
print("Number of questions:", len(correct_result))

       q_id  time_to_answer
0  48087910             NaN
1  48363529             NaN
2  48141873             NaN
3  48121687             NaN
4  48150070             NaN

Correct

Percentage of answered questions: 82.67816289882167%
Number of questions: 162604

In [ ]:
# Lines below will give you a hint or solution code
#q_1.hint()
#q_1.solution()

### 2) Initial questions and answers, Part 1

You're interested in understanding the initial experiences that users typically have with the Stack Overflow website.  Is it more common for users to first ask questions or provide answers?  After signing up, how long does it take for users to first interact with the website?  To explore this further, you draft the (partial) query in the code cell below.

The query returns a table with three columns:
- `owner_user_id` - the user ID
- `q_creation_date` - the first time the user asked a question 
- `a_creation_date` - the first time the user contributed an answer 

You want to keep track of users who have asked questions, but have yet to provide answers.  And, your table should also include users who have answered questions, but have yet to pose their own questions.  

With this in mind, please fill in the appropriate **JOIN** (i.e., **INNER**, **LEFT**, **RIGHT**, or **FULL**) to return the correct information.  

**Note**: You need only fill in the appropriate **JOIN**.  All other parts of the query should be left as-is.  (You also don't need to write any additional code to run the query, since the `cbeck()` method will take care of this for you.)

To avoid returning too much data, we'll restrict our attention to questions and answers posed in January 2019.  We'll amend the timeframe in Part 2 of this question to be more realistic!

In [7]:
# Your code here
q_and_a_query = """
                SELECT q.owner_user_id AS owner_user_id,
                    MIN(q.creation_date) AS q_creation_date,
                    MIN(a.creation_date) AS a_creation_date
                FROM `bigquery-public-data.stackoverflow.posts_questions` AS q
                    LEFT JOIN `bigquery-public-data.stackoverflow.posts_answers` AS a
                ON q.owner_user_id = a.owner_user_id 
                WHERE q.creation_date >= '2019-01-01' AND q.creation_date < '2019-02-01' 
                    AND a.creation_date >= '2019-01-01' AND a.creation_date < '2019-02-01'
                GROUP BY owner_user_id
                """

# Check your answer
q_2.check()

,owner_user_id,q_creation_date,a_creation_date
0,10532966,2019-01-04 09:36:16.587000+00:00,2019-01-17 13:09:53.860000+00:00
1,10861738,2019-01-03 16:17:20.347000+00:00,2019-01-03 16:30:47.180000+00:00
2,3760984,2019-01-04 14:54:45.177000+00:00,2019-01-05 11:49:12.873000+00:00
3,10255802,2019-01-02 12:37:12.377000+00:00,2019-01-04 15:03:05.360000+00:00
4,6901706,2019-01-06 19:46:08.937000+00:00,2019-01-12 22:41:06.230000+00:00

Correct

In [ ]:
# Lines below will give you a hint or solution code
#q_2.hint()
#q_2.solution()

### 3) Initial questions and answers, Part 2

Now you'll address a more realistic (and complex!) scenario.  To answer this question, you'll need to pull information from *three* different tables!  This syntax very similar to the case when we have to join only two tables.  For instance, consider the three tables below.

![three tables](https://i.imgur.com/OyhYtD1.png)

We can use two different **JOINs** to link together information from all three tables, in a single query.

![double join](https://i.imgur.com/G6buS7P.png)

With this in mind, say you're interested in understanding users who joined the site in January 2019.  You want to track their activity on the site: when did they post their first questions and answers, if ever?

Write a query that returns the following columns:
- `id` - the IDs of all users who created Stack Overflow accounts in January 2019 (January 1, 2019, to January 31, 2019, inclusive)
- `q_creation_date` - the first time the user posted a question on the site; if the user has never posted a question, the value should be null
- `a_creation_date` - the first time the user posted a question on the site; if the user has never posted a question, the value should be null

Note that questions and answers posted after January 31, 2019, should still be included in the results.  And, all users who joined the site in January 2019 should be included (even if they have never posted a question or provided an answer).

The query from the previous question should be a nice starting point to answering this question!  You'll need to use the `posts_answers` and `posts_questions` tables.  You'll also need to use the `users` table from the Stack Overflow dataset.  The relevant columns from the `users` table are `id` (the ID of each user) and `creation_date` (when the user joined the Stack Overflow site, in DATETIME format).

In [8]:
# Construct a reference to the "users" table
table_ref = dataset_ref.table("users")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the table
client.list_rows(table, max_results=5).to_dataframe()

,id,display_name,about_me,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,views,profile_image_url,website_url
0,953,glob,<p>/glob/ <i>noun</i> <i>colloquial</i></p>\n\...,None,2008-08-11 00:53:43.653000+00:00,2020-05-30 16:39:27.517000+00:00,Australia,2892,71,18,158,None,http://glob.com.au/
1,1425,Brendon-Van-Heyzen,"<p>twitter <a href=""https://twitter.com/brendo...",None,2008-08-15 15:23:55.830000+00:00,2019-05-21 21:10:14.027000+00:00,Florida,2425,465,2,213,None,http://about.me/BrendonVanHeyzen
2,1587,Shuft,.Net developer in sunny Yorkshire,None,2008-08-16 21:55:49.113000+00:00,2020-04-28 12:46:29.520000+00:00,United Kingdom,1280,79,1,155,None,http://www.thefamilycroft.com
3,1611,Craig,"Professional Java Developer, currently doing w...",None,2008-08-17 14:30:38.760000+00:00,2020-05-27 16:00:39.990000+00:00,"Toronto, Canada",1366,468,14,140,None,None
4,1789,Jon,"<p>husband, father, coder</p>",None,2008-08-18 15:06:40.123000+00:00,2020-05-29 21:35:20.550000+00:00,"Little Rock, AR",2121,621,2,138,None,None

In [14]:
# Your code here
three_tables_query = """
                SELECT u.id AS id,
                    MIN(q.creation_date) AS q_creation_date,
                    MIN(a.creation_date) AS a_creation_date
                FROM `bigquery-public-data.stackoverflow.users` AS u
                FULL JOIN `bigquery-public-data.stackoverflow.posts_questions` AS q
                ON  u.id = q.owner_user_id
                FULL JOIN `bigquery-public-data.stackoverflow.posts_answers` AS a
                ON u.id = a.owner_user_id 
                WHERE DATE(u.creation_date) BETWEEN '2019-01-01' AND '2019-01-31'
                GROUP BY id
                     """

# Check your answer
q_3.check()

         id                  q_creation_date                  a_creation_date
0  10906368 2020-02-17 17:31:51.513000+00:00 2020-02-03 17:32:51.443000+00:00
1  10949223                              NaT                              NaT
2  10910783                              NaT                              NaT
3  10904413                              NaT                              NaT
4  10981302                              NaT                              NaT

Correct

In [ ]:
# Lines below will give you a hint or solution code
#q_3.hint()
#q_3.solution()

### 4) How many distinct users posted on January 1, 2019?

In the code cell below, write a query that returns a table with a single column:
- `owner_user_id` - the IDs of all users who posted at least one question or answer on January 1, 2019.  Each user ID should appear at most once.

In the `posts_questions` (and `posts_answers`) tables, you can get the ID of the original poster from the `owner_user_id` column.  Likewise, the date of the original posting can be found in the `creation_date` column.  

In order for your answer to be marked correct, your query must use a **UNION**.

In [15]:
# Your code here
all_users_query = """
                SELECT owner_user_id FROM `bigquery-public-data.stackoverflow.posts_questions` where DATE(creation_date) = '2019-01-01'
                UNION DISTINCT
                SELECT owner_user_id FROM `bigquery-public-data.stackoverflow.posts_answers` where DATE(creation_date) = '2019-01-01'
                """

# Check your answer
q_4.check()

Empty DataFrame
Columns: [owner_user_id]
Index: []

Incorrect: Your answer does not have the correct number of rows. You should have 4411 rows, but you have 0 rows.

In [ ]:
# Lines below will give you a hint or solution code
#q_4.hint()
#q_4.solution()

# Keep going

Learn how to use **[analytic functions](https://www.kaggle.com/alexisbcook/analytic-functions)** to perform complex calculations with minimal SQL code.

---
**[Advanced SQL Home Page](https://www.kaggle.com/learn/advanced-sql)**





*Have questions or comments? Visit the [Learn Discussion forum](https://www.kaggle.com/learn-forum/161315) to chat with other Learners.*